<div class="login-page">

    <div class="form">
        <img style ="padding-top: 5%; padding-bottom: 10%;" src="../assets/img/aqva-logo.webp">
        <form class="register-form hidden" id="register-user">
            <input type="text" id=tf-register-user-password" placeholder="name"/>
            <input type="password" id="tf-register-user-password" placeholder="password"/>
            <input type="text" id="tf-register-user-email" placeholder="email address"/>
            <button id="bt-create-new-user">create</button>
            <p class="message" id="bt-back-to-login"> Back to Log In</p>
        </form>
        <form class="login-form" id="login-user">
            <input type="text" id="tf-user-email" name="email" placeholder="email"/>
            <input type="password" id="tf-user-password" name="password" placeholder="password"/>
            <button id="bt-login-user">login</button>
            <p class="message" id="bt-create-account">Create an account</p>
        </form>
    </div>
</div>
